DeliveryService/DeliveryService/src/main/java/com/solvd/deliveryservice/schemas/App.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resources" type="resourcesType"/>
  <xs:complexType name="stringType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="string-arrayType" mixed="true">
    <xs:sequence>
      <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="John Doe"/>
            <xs:enumeration value="Jane Doe"/>
            <xs:enumeration value="Jim Smith"/>
            <xs:enumeration value="4.5"/>
            <xs:enumeration value="4.0"/>
            <xs:enumeration value="3.5"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="stringType" name="string"/>
      <xs:element type="string-arrayType" name="string-array" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Driver Information  Order Information </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>