DeliveryService/DeliveryService/src/main/java/com/solvd/deliveryservice/schemas/Car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resources" type="resourcesType"/>
  <xs:complexType name="string-arrayType">
    <xs:sequence>
      <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:sequence>
      <xs:element type="string-arrayType" name="string-array" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Car Makes  Car Models  List of Cars </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>